@import "tailwindcss";

:root {
    --primary: #8ce043;
    --primary-hover: #8ce043;
    --secondary: #7f8b64;
    --background: #f8fafc;
    --surface: #ffffff;
    --text-main: #323b1e;
    --text-muted: #313131;
    --border: #e2e8f0;
    --success: #8ce043;
    --danger: #ef4444;
    --warning: #f59e0b;

    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    --font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--text-main);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

input,
select,
textarea {
    font-family: inherit;
    outline: none;
}

.text-primary {
    color: var(--primary);
}

.text-muted {
    color: var(--text-muted);
}


.shadow {
    box-shadow: var(--shadow);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d7e1cb;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5b894;
}